spring:
  datasource:
    #    url: jdbc:mysql://mysql:3306/mydb?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    url: jdbc:mysql://localhost:3306/mydb
    username: root
    password: admin
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
